{% extends "layouts/base.html" %}

{% block title %} SEMRush Data Cleaning Tool {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">
  <!-- Page Title Header Starts-->
  <div class="row page-title-header">
    <div class="col-12">
      <div class="page-header">
        <h4 class="page-title">Tool #1: SEMRush Data Cleaning (CSV Input)</h4>
        <div class="quick-link-wrapper w-200 d-md-flex flex-md-wrap">
          <ul class="quick-links">
            <li><a href="#">Tool Inputs</a></li>
            <li><a href="#">Ex. CSV Input</a></li>
            <li><a href="#">Ex. CSV Output</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch grid-margin">
          <div class="row flex-grow">
          </div>
        </div>
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Input Criteria</h2>
              <form class="form-sample">
                <!-- <p class="card-description"> Categorization Criteria </p> -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Brand Ngrams</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="ngram1|ngram2" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <!-- <label class="col-sm-4 col-form-label">XXXXX</label> -->
                      <div class="col-sm-9">
                        <!-- <input type="text" class="form-control" /> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>File upload</label>
                  <input type="file" name="img[]" class="file-upload-default">
                  <div class="input-group col-xs-12">
                    <input type="text" class="form-control file-upload-info" disabled placeholder="Upload File(s)">
                    <span class="input-group-append">
                      <button class="file-upload-browse btn btn-info" type="button">Upload</button>
                    </span>
                  </div>
                </div>
                <button type="submit" class="btn btn-success mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      </form>


      <div class="col-md-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h4 class="card-title mb-0">Tool Instructions</h4>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum.</p>
            <ol>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Lorem ipsum dolor sit amet</li>
            </ol>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h4 class="card-title mb-0">Example INPUT - SEMRush Dataset</h4>
            <a href="#"><small>Download Example</small></a>
          </div>
          <p>Ensure you DO NOT change any of the formatting from the CSV download or the tool WILL NOT work!</p>
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Keyword</th>
                  <th>Position</th>
                  <th>Search Volume</th>
                  <th>URL</th>
                  <th>Whatever else</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                </tr>
                <tr>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                </tr>
                <tr>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                </tr>
                <tr>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                </tr>
                <tr>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h4 class="card-title mb-0">Example OUTPUT - SEMRush Dataset</h4>
            <a href="#"><small>Download Example</small></a>
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Keyword</th>
                  <th>Position</th>
                  <th>Search Volume</th>
                  <th>URL</th>
                  <th>Whatever else</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                </tr>
                <tr>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                </tr>
                <tr>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                </tr>
                <tr>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                </tr>
                <tr>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}